In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

#그래프 패키지 
import matplotlib.pyplot as plt 
%matplotlib inline 
# 한글 문제 해결
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')# 한글 문제 해결
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    print('Unknown system...  sorry~~~')


# 동시 출력
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [5]:
df = pd.read_csv('./data/glass.csv')
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0     1

In [6]:
# 종속변수, 독립변수 분리
X = df.drop(['Type'], axis=1)
Y = df['Type']

In [7]:
# 학습 데이터와 평가 데이터 분리
from sklearn.model_selection import train_test_split
Train_X, Test_X, Train_Y, Test_Y = train_test_split(X, Y)
Train_X.shape

(160, 8)

In [8]:
# Box Plot 구성 내용
# 0.25 0.5 0.75 1 나눈 얘기
def IQR_Rule(val_list): # 피처 한개에 대해 작업
    #IQR 계산
    
    Q1 = np.quantile(val_list, 0.25)
    Q3 = np.quantile(val_list, 0.75)

    IQR = Q3 - Q1
    
    not_outlier_condition = (Q3 + 1.5 * IQR > val_list) & (Q1 - 1.5 * IQR < val_list)
    
    return not_outlier_condition

In [9]:
Train_X

          RI     Na    Mg    Al     Si     K     Ca    Fe
194  1.51683  14.56  0.00  1.98  73.29  0.00   8.52  0.07
104  1.52410  13.83  2.90  1.17  71.15  0.08  10.79  0.00
206  1.51645  14.94  0.00  1.87  73.11  0.00   8.67  0.00
135  1.51789  13.19  3.90  1.30  72.33  0.55   8.44  0.28
131  1.52614  13.70  0.00  1.36  71.24  0.19  13.44  0.10
..       ...    ...   ...   ...    ...   ...    ...   ...
69   1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.03
60   1.51905  13.60  3.62  1.11  72.64  0.14   8.76  0.00
59   1.51754  13.39  3.66  1.19  72.79  0.57   8.27  0.11
115  1.51846  13.41  3.89  1.33  72.38  0.51   8.28  0.00
2    1.51618  13.53  3.55  1.54  72.99  0.39   7.78  0.00

[160 rows x 8 columns]

In [10]:
conditions = Train_X.apply(IQR_Rule) #apply함수 이용하면 해당되는 df의 컬럼별로 나누어서 돌려줌
conditions

        RI    Na    Mg    Al     Si     K     Ca     Fe
194   True  True  True  True   True  True   True   True
104  False  True  True  True  False  True  False   True
206   True  True  True  True   True  True   True   True
135   True  True  True  True   True  True   True  False
131  False  True  True  True   True  True  False   True
..     ...   ...   ...   ...    ...   ...    ...    ...
69    True  True  True  True   True  True   True   True
60    True  True  True  True   True  True   True   True
59    True  True  True  True   True  True   True   True
115   True  True  True  True   True  True   True   True
2     True  True  True  True   True  True   True   True

[160 rows x 8 columns]

In [11]:
conditions.sum(axis=1) == len(Train_X.columns)

194     True
104    False
206     True
135    False
131    False
       ...
69      True
60      True
59      True
115     True
2       True
Length: 160, dtype: bool

In [12]:
total_cond = conditions.sum(axis=1) == len(Train_X.columns)

In [13]:
Train_X = Train_X.loc[total_cond]
Train_X.shape

(114, 8)